body
{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}
h1
{
   font-size: 45px;
}
.nameHighlight
{
    color: orange;
}
.first_section
{
    width: 40%;
    float: left;
     margin-left: 4%;
     padding: 2%;
     padding-right: 4%;
     

}
.first_section img
{
    width: 70%;
}
.top-banner
{
    background-image: url(top-banner.png);
  background-repeat: no-repeat;
}
section
{
    height: 400px;
}